@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,700&family=Quicksand:wght@400;700&display=swap");

:root {
  --color-primary: #b23434;
  --color-secondary: #000000;
  --color-gray: rgba(0, 0, 0, 0.6);
  --color-white: #fff;
  --color-bg: #ffffff;

  --heading-1-size: 64px;
  --heading-2-size: 54px;
  --heading-3-size: 40px;
  --heading-4-size: 26px;
  --heading-5-size: 20px;
  --heading-6-size: 18px;
}

/* h1{
  color: var(--color-primary);
  font-size: var(--heading-1-size);
} */

* {
  font-family: "Josefin Sans", sans-serif;
  color: var(--color-secondary);
  box-sizing: border-box;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

.rounded-image {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

a:hover {
  color: var(--color-primary);
}
.btn-primary {
  color: white;
  background-color: black;
  border-color: var(--color-primary);
  height: 40px;
}
.btn-second {
  color: white;
  background-color: black;
  border-color: var(--color-primary);
  height: 100px;
  width: 300px;
  margin: 0 20px;
}

.rounded-button {
  border-radius: 10px; /* You can adjust the value to your liking */
  padding: 10px 20px; /* This is just for example purposes, you can adjust the values as needed */
  font-size: 16px; /* This is just for example purposes, you can adjust the value as needed */
}

.btn-primary:hover {
  color: black;
  background-color: white;
  border-color: var(--color-secondary);
}
.btn-second:hover {
  color: black;
  background-color:white;
  border-color: var(--color-secondary);
}

header {
  background-image: url("1.jpg");
  min-height: 80vh;
  background-size: cover;
}

header .content {
  margin-top: 170px;
}

header .content .header-title {
  font-size: var(--heading-1-size);
}

header .content .header-description {
  font-size: var(--heading-6-size);
}

section {
  margin: 100px 0;
}

section .section-title {
  font-size: var(--heading-4-size);
  font-weight: 700;
}

section .section-description {
  font-size: var(--heading-6-size);
  color: var(--color-gray);
  margin: 0;
}

section .section-caption {
  font-size: var(--heading-5-size);
  color: var(--color-black);
  margin: 0;
}

.section-footer{
  color: #fff;
}

.bg-color{
  background-color: rgb(201, 201, 201);
  width: 500px;
  padding: 70px;
}

.why-choose,
.popular-destionation,
.take-break,
.our-travel-packages,
.testimonial,
.subscirber,
.footerCuy {
  background-color: var(--color-bg);
}

.footerCuy{
  background-color: black;
}

/* .why-choose .card .icons {
  background-color: var(--color-bg);
  width: 50px;
} */

.boxs {
  box-shadow: 0 4px 3px 2px rgba(100, 14, 14, 0.1);
}

.boxs:hover {
  cursor: pointer;
  background-color: var(--color-gray);
  transition: 0.7s;
}

.popular-destionation .card .bx {
  color: var(--color-primary);
}

.popular-destionation .card .images {
  object-fit: cover;
}

.take-break .section-title {
  font-size: var(--heading-3-size);
}

.our-travel-packages .card .image {
  margin: auto;
}

.our-travel-packages .card {
  background-color: var(--color-bg);
}

.travel-Packages .card {
  background-color: var(--color-bg);
}

.travel-Packages .card .card-image {
  height: 500px;
  object-fit: cover;
}

.travel-Packages .card .price {
  font-size: var(--heading-5-size);
}

.travel-Packages .card .price .section-description {
  font-size: 16px;
}

.travel-Packages .card .flag {
  top: -30px;
  left: 45%;
}

.testimonial .card .foto {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.testimonial .container i {
  color: var(--color-primary);
  font-size: var(--heading-3-size);
  position: absolute;
  top: -20px;
}

/* .subscirber .container .row .col-md-6 button {
  position: absolute;
  left: 30%;
} */
.subscirber .container .row .col-md-6 .icon-fire {
  top: 50px;
  left: 95%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Membuat 3 kolom dengan lebar yang sama */
  grid-gap: 10px; /* Memberi jarak 10px antar item */
}

.grid-item {
  text-align: center;
}
